.bundle
db/*.sqlite3
log/*.log
tmp/
nbproject/
db/schema.rb
.rvmrc
.project
.idea
*.swp
Gemfile.lock
public/upload/
public/uploads/
public/stylesheets/ie.css
public/stylesheets/ie7.css
public/stylesheets/pie.css
public/stylesheets/print.css
public/stylesheets/screen.css
coverage/